<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    
    <center id ="form">
        <h3>Sign In</h3>
        <form action="#" method="post"> <!---in action we will guide the user to login compelte page-->
        User name <input type="text" name="User_name" autocomplete="off"><br>
        Password&nbsp; &nbsp;<input type="password" name="password" id="User_password" minlength="4"><br>
        <input type="submit" value="Sign In" id = "signinButton">
        </form> 
    </center>
</body>
</html>  